<form method="POST" action="/store" enctype="multipart/form-data">
  <label for="txtNombre">Name:</label>
  <input type="text" name="txtNombre" id="txtNombre" />
  <br />
  <label for="txtDescription">Description:</label>
  <input type="text" name="txtDescription" id="txtDescription" />
  <br />
  <label for="txtStock">Stock:</label>
  <input type="number" name="txtStock" id="txtStock" />
  <br />
  <label for="txtFoto">Image:</label>
  <input type="file" name="txtFoto" id="txtFoto" />
  <br />
  <input type="submit" value="Create" />
</form>
